__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl

.venv/
venv/
env/
.env

.mypy_cache/
.ruff_cache/
.pytest_cache/

*.exe
*.dll
*.so
*.dylib
!samples/*.exe

htmlcov/
.coverage
coverage.xml

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

.arqsoc/
